.header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.logo-img {
  width: 200px;
}

.logo {
  font-family: Abril Fatface, Arial;
  font-weight: 400;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.logo-span {
  font-family: Abril Fatface, Arial;
  color: rgb(201, 201, 201);

}

.right-section {
  display: flex;
  align-items: center;
}

.right-section a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  margin-left: 25px;
  transition: 0.3s;
}


.right-section a:hover {
  color: rgb(201, 201, 201);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: rgb(193, 192, 192);
}

.header-icons {
  right: 25px;
  font-size: 40px;
  cursor: pointer;
  display: none;
  position: absolute;
  color: black;

}

#check {
  display: none;
}

@media(max-width: 850px) {
  .logo {
    font-size: 35px;
  }
  .right-section a {
    font-size: 20px;
  }
}

@media(max-width: 650px) {
  .header-icons {
    display: block;
  }

  #check:checked~.header-icons #menu-icon {
    display: none;
  }

  .header-icons #close-icon {
    display: none;
  }

  
  #check:checked~.header-icons #close-icon {
    display: block;
  }

  .right-section {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: .6s ease;
  }

  #check:checked~.right-section {
    height: 283.2px;
  }

  .right-section a {
    display: block;
    font-size: 22px;
    margin: 20px;
    text-align: center;
  }
}

.cart-icon {
  width: 25px;
}