/*HOME / HERO*/
.home-body {
  background-image: url("../images/home-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 290px 0px 230px 0px;
}

.hero-title {
  font-size: 60px;
  color: rgb(45, 45, 45);
}

.hero-button-container {
  display: flex;
  justify-content: end;;
  margin-right: 105px;
}

.shop-now-btn {
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 2px solid rgb(106, 243, 106);
  border-radius: 20px;
  background-color: transparent;
  padding: 8px;
  padding-inline: 20px;
  cursor: pointer;
  transition: .5s;
}

.shop-now-btn:hover {
  background-color: rgb(106, 243, 106);
  color: white;
}

/*SHOP*/

/*CATEGORIES*/

.category-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 250px;
  padding-inline: 100px;
  min-width: 1300px;
}

.category {
  display: flex;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category img{
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.category:last-child {
  grid-column-start: 4;
}

.category:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: span 2;
}

